.btn{
    border-radius: 2.5em;
    background: linear-gradient(90deg, #92FE9D  0%, #00C9FF 100%);
    border:0;
}
nav .navbar-toggler{
    border: 0;
    outline: 0;
}
nav.navbar{
    background-color: hsl(0, 0%, 100%);
}
nav.navbar ul li a{
    color:hsl(233, 8%, 62%)
}
nav li.request{
    display: block;
}